[{:arachne.module/name :bigbadwolf/soteria
  :arachne.module/schema soteria.core/schema
  :arachne.module/configure arachne.hello/configure
  :arachne.module/dependecies [:org.arachne-framework/arachne-core]}]
